.App {
  text-align: center;
  background-color: rgb(2, 34, 34);
}

nav{
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type:none;
  /*background-color: rgb(2, 34, 34);*/
  color: aliceblue;
  font-size: large;
  max-width: 100%;
  height: auto;
  padding: 16px 16px;
}
.nav_links{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type:none;
}
.homepage {
  background-color: rgb(2, 34, 34);
}